[submodule ".local/share/nvim/site/pack/css-color/start/css-color.symlink"]
	path = .local/share/nvim/site/pack/css-color/start/css-color.symlink
	url = git://github.com/ap/vim-css-color.git
[submodule ".local/share/nvim/site/pack/easymotion/start/easymotion.symlink"]
	path = .local/share/nvim/site/pack/easymotion/start/easymotion.symlink
	url = https://github.com/easymotion/vim-easymotion
[submodule ".local/share/nvim/site/pack/javascript/start/javascript.symlink"]
	path = .local/share/nvim/site/pack/javascript/start/javascript.symlink
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".local/share/nvim/site/pack/markdown/start/markdown.symlink"]
	path = .local/share/nvim/site/pack/markdown/start/markdown.symlink
	url = git://github.com/tpope/vim-markdown.git
[submodule ".local/share/nvim/site/pack/rust.vim/start/rust.vim.symlink"]
	path = .local/share/nvim/site/pack/rust.vim/start/rust.vim.symlink
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".local/share/nvim/site/pack/vim-fugitive/start/vim-fugitive.symlink"]
	path = .local/share/nvim/site/pack/vim-fugitive/start/vim-fugitive.symlink
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".local/share/nvim/site/pack/zig.vim/start/zig.vim.symlink"]
	path = .local/share/nvim/site/pack/zig.vim/start/zig.vim.symlink
	url = https://github.com/ziglang/zig.vim
	branch = master
[submodule ".local/share/nvim/site/pack/vim-go/start/vim-go.symlink"]
	path = .local/share/nvim/site/pack/vim-go/start/vim-go.symlink
	url = https://github.com/fatih/vim-go/
	branch = master
[submodule ".local/share/nvim/site/pack/vim-syntax-gemtext/start/vim-syntax-gemtext.symlink"]
	path = .local/share/nvim/site/pack/vim-syntax-gemtext/start/vim-syntax-gemtext.symlink
	url = https://github.com/kconner/vim-syntax-gemtext
[submodule ".local/share/nvim/site/pack/vim-one/start/vim-one.symlink"]
	path = .local/share/nvim/site/pack/vim-one/start/vim-one.symlink
	url = https://github.com/rakr/vim-one
	branch = master
[submodule ".local/share/nvim/site/pack/fzf.vim/start/fzf.vim.symlink"]
	path = .local/share/nvim/site/pack/fzf.vim/start/fzf.vim.symlink
	url = https://github.com/junegunn/fzf.vim
	branch = master
