[submodule ".vim/bundle/vim-pathogen.symlink"]
	path = .vim/bundle/vim-pathogen.symlink
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-fugitive.symlink"]
	path = .vim/bundle/vim-fugitive.symlink
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/css-color.symlink"]
	path = .vim/bundle/css-color.symlink
	url = git://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/ctrlp.symlink"]
	path = .vim/bundle/ctrlp.symlink
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/easymotion.symlink"]
	path = .vim/bundle/easymotion.symlink
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/javascript.symlink"]
	path = .vim/bundle/javascript.symlink
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/markdown.symlink"]
	path = .vim/bundle/markdown.symlink
	url = git://github.com/tpope/vim-markdown.git
